@model Employee
@{
    ViewData["Title"] = "Delete";
}


<h1> Are You Sure You Want To Delete This Employee @Model.Name </h1>

<form asp-action="Delete">

<partial name="EmployeePartialViews/_DeleteDetailsPV" />
<input  type="submit" value="Delete" class="btn btn-primary" />
<a asp-action="Index" class="btn btn-light">Back To List</a>
</form>





