@model UserViewModel


<div class="form-group">
    <label class="col-form-label" asp-for="FName"></label>
    <input class="form-control" asp-for="FName" />
    <span class="text-danger" asp-validation-for="FName"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="LName"></label>
    <input class="form-control" asp-for="LName" />
    <span class="text-danger" asp-validation-for="LName"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input class="form-control" asp-for="Email" />
    <span class="text-danger" asp-validation-for="Email"></span>
</div>


<div class="form-group">
    <label class="col-form-label" asp-for="phoneNumber"></label>
    <input class="form-control" asp-for="phoneNumber" />
    <span class="text-danger" asp-validation-for="phoneNumber"></span>
</div>
